@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(191, 209, 209);
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}
.panel {
  background: 100px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  border-radius: 50px;
  color: beige;
  cursor: pointer;
  flex: 0.9;
  margin: 10px;
  position: relative;
  transition: flex 700ms ease-in;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

/* Building the line */
/* Before */
.progress-container::before {
  content: "";
  background-color: rgb(210, 210, 224);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
}
/* After line */
.progress {
  background-color: rgb(62, 62, 154);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
